<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header.css?v=2">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css?v=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/certificate.css?v=2">
  </head>
  <body>
    <header class="site-header">
      <div class="header-container">
        <div class="logo">
          <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/img/data-maestro-logo-no-bg.png" alt="{{ site.title }}" />
          </a>
        </div>
        <nav class="main-nav">
          <ul>
            <li><a href="https://www.datamaestro.academy/">Home</a></li>
            <li><a href="https://www.datamaestro.academy/courses">Courses</a></li>
            <li><a href="https://www.datamaestro.academy/leaderboard/?period=7_days">Leaderboard</a></li>
            <li><a href="https://www.datamaestro.academy/about">About</a></li>
            <li><a href="https://www.datamaestro.academy/news">News</a></li>
            <li><a href="https://www.datamaestro.academy/approach">Approach</a></li>
            <li><a href="https://login.circle.so/sign_up?request_host=www.datamaestro.academy&user%5Binvitation_token%5D=#email">Join</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="certificate-page">
      {{ content }}
    </div>
  </body>
  <!-- Image hover -->
 <!-- <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6915ade8fd0d53dc5020dcf3&product=sop' async='async'></script> -->
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6915ade8fd0d53dc5020dcf3&product=image-share-buttons' async='async'></script>
</html>

